/* General */
body {
    background: url("../images/background_pattern.png") repeat;
}

.panel h4 {
    color: white;
}

/* Navigation */

nav ul li {
    transition: background linear 0.3s;
}

nav ul li:hover {
    background: #ebe4e4;
}

nav ul li.active {
    background: #ebe4e4;
}

/* body content */

.body-content {
    background: white;
    padding-left: 30px;
    padding-right: 30px;
}

/* Index.html */
.carousel-inner h2 {
    color: white;
    border: 1px solid white;
}

.carousel-inner h2 small {
    color: white;
}

.nav-prog div a {
    width: 100%;
    margin-bottom:2px;
}

